.tab-content {
  width: 100%;
}

.nav {
  margin: 20px;
  width: 65px;
  background-color: white;
  z-index: 999999;
  position: absolute;
  padding: 5px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: width 200ms;
  overflow: hidden;
  display: block;
}

.nav-link>p {
  position: absolute;
  display: inline;
  padding-left: 50px;
}

.nav:hover {
  width: 200px;
}

.tab-pane {
  display: flex;
  flex-grow: grow;

}

.map-view-small {
  width: 300px;
}