#map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}


.vehicleIcon {
  display: block;
  width: 10px;
  height: 10px;
  background-image: '/src/assets/images/circle-letter-b.png';
}