#map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}


.vehicleIcon {
  display: block;
  width: 10px;
  height: 10px;
  background-image: '/src/assets/images/circle-letter-b.png';
}

#lap-timer {
  text-align: center;
  margin: 10px auto;
  width: auto;
  height: auto;
  position: relative;
  display: flex;
  z-index: 99999;
}

button {
  text-align: center;
  margin: 10px auto;
  width: auto;
  height: auto;
  position: relative;
  display: flex;
  z-index: 99999;
}

ul {

  text-align: center;
  margin: 10px auto;
  width: 150px;
  height: auto;
  position: relative;
  display: block;
  z-index: 99999;
}