#map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}


.vehicleIcon {
  display: block;
  width: 10px;
  height: 10px;
  background-image: '/src/assets/images/circle-letter-b.png';
}

.startButton {
  text-align: center;
  margin: 180px 10px;
  width: auto;
  height: auto;
  position: absolute;
  display: flex;
  z-index: 99999;
  right: 0;
}

.lapButton {
  text-align: center;
  margin: 225px 10px;
  width: auto;
  height: auto;
  position: absolute;
  display: flex;
  z-index: 99999;
  right: 0;
}

#lap-timer {
  text-align: center;
  margin: 270px 10px;
  width: auto;
  height: auto;
  position: absolute;
  display: flex;
  z-index: 99999;
  right: 0;
}

ul,
li {
  margin: 320px 10px;
  width: 150px;
  height: auto;
  position: fixed;
  display: block;
  z-index: 99999;
  right: 0;
  top: 10px;

}