
    <div class="card">
        <img src="assets/images/6.jpg" class="card-img-top" alt="card-img-top">
        <div class="card-body">
          <h5 class="card-title">FABRIC</h5>
          <p class="card-text">This is a free wallpapers pack.</p>
          <button type="button" class="btn btn-primary">Download</button>
          <p class="card-text"><small class="text-muted">sheets.zip</small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/images/3.jpg" class="card-img-top" alt="card-img-top">
        <div class="card-body">
          <h5 class="card-title">FLUIDS</h5>
          <p class="card-text">This is a free wallpapers pack.</p>
          <button type="button" class="btn btn-primary">Download</button>
          <p class="card-text"><small class="text-muted">fluids.zip</small></p>
        </div>
      </div>
